---
title: Demo
description: phpMyFAQ 4.0 demo versions
canonical:
domain: https://demo.phpmyfaq.de
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="demo section">
  <div class="container">
    <h1>{{page.title}}</h1>
    <p class="intro">
      You can test all these phpMyFAQ installations with the following credentials:
    </p>
    <h4>Admin user</h4>
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd>demoadmin</dd>
      <dt>Password</dt>
      <dd>demoadmin</dd>
    </dl>
    <h4>Normal user</h4>
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd>demouser</dd>
      <dt>Password</dt>
      <dd>demouser</dd>
    </dl>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h2>phpMyFAQ {{ versions.stable }} on PHP 8.1</h2>
        <ul class="list-unstyled text-center">
          <li>
            <a class="btn btn-cta-primary" rel="nofollow" target="_blank" href="https://roy.demo.phpmyfaq.de/">
              phpMyFAQ {{ versions.stable }} (PHP 8.4)
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12">
        <h2>phpMyFAQ {{ versions.development }} on PHP 8.1</h2>
        <ul class="list-unstyled text-center">
          <li>
            n/a
            <!--
            <a class="btn btn-cta-primary" rel="nofollow" target="_blank" href="https://moss.demo.phpmyfaq.de/">
              phpMyFAQ {{ versions.development }} (PHP 81)
            </a>
            -->
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>
          You can do whatever you want with these installations, the installations will be reset every day.
        </p>
      </div>
    </div>
  </div>
</section>

{{> footer ~}}

{{> scripts ~}}
